@import "tailwindcss/components";
@layer components {
    .projectObject {
        @apply md:w-[40%] w-[80%] h-[40vh] bg-gray-700 shadow-lg rounded-lg m-5 overflow-hidden;
    }
    .backgroundimage:hover{
        transform: scale(1.1);
    }
    .backgroundimage {
        background-image: no-repeat center center;
        background-size: cover;
        transition: transform .5s ease;
        @apply w-full h-full;
    }
    .projectObjectinside {
        @apply m-0 w-full h-full opacity-0 flex justify-center items-center flex-col;
    }
    .projectObjectinside:hover {
        @apply bg-gray-900 opacity-80;
    }
    


  
}