@import "tailwindcss/components";
@layer components {
    .profilimage {
        background: url('profil.jpg') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        @apply lg:w-[25vw] lg:h-[27vw] h-[60vw] w-[53vw] rounded-lg shadow-lg mt-16 mb-14 lg:self-end;
    }
  
}